<h2>Editar</h2>

<form role="form" class="form-horizontal" ng-submit="incluiLocador()">
<div class="form-group">
	<label for="cpf" class="col-lg-2 control-label">CPF</label>
	<div class="col-lg-8">
	<input type="text" id="cpf" required class="form-control" ng-model="locador.cpf">
	</div>
</div>
<div class="form-group">
	<label for="nome" class="col-lg-2 control-label">Nome</label>	
	<div class="col-lg-8">
	<input type="text" id="nome" required class="form-control" ng-model="locador.nome">	
	</div>
</div>
<div class="form-group">	
	<label for="Endereços" class="col-lg-2 control-label">Endere&ccedil;os</label>
	<div class="col-lg-8">
		<div id="tabs" style="width: 100%;"></div>
		<div id="tab-content">			
			<div class="w2ui-field">
			    <label>Address:</label>
			    <div>
				<input name="address1" type="text" maxlength="100" style="width: 100%"/>
			    </div>
			</div>
			<div class="w2ui-field">
			    <label>Line 2:</label>
			    <div>
				<input name="address2" type="text" maxlength="100" style="width: 100%"/>
			    </div>
			</div>
			<div class="w2ui-field">
			    <label>City:</label>
			    <div>
				<input name="city" type="text" maxlength="50" size="25"/>
			    </div>
			</div>
			<div class="w2ui-field">
			    <label>State:</label>
			    <div>
				<input name="state" type="text" maxlength="2" size="2"/>
			    </div>
			</div>
			<div class="w2ui-field">
			    <label>Zip:</label>
			    <div>
				<input name="zip" type="text" maxlength="10" size="10"/>
			    </div>
			</div>			
		</div>
	</div>
		
</div>
<div class="form-group">
	<label for="telefones" class="col-lg-2 control-label">Telefones</label>	
	<div class="col-lg-8">
		<div class="w2ui-field" id="telefones"  class="form-control" ng-model="telString">		    
		    <div> <input id="enum"> </div>
		</div>
	</div>
	
</div>
<div class="form-group">
	<div class="col-lg-offset-2 col-lg-10">
		<button id="saveButton" class="btn btn-default">Incluir Locador</button>
	</div>
</div>
</form>

<!-- W2UI scripts --> 
<script src="./js/w2ui-1.4.2.min.js"></script>
<!-- Custom scripts --> 
<script src="./js/home.js"></script>
   
