	<h3>{{entidade}}</h3>
	
	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Enviando&hellip;</div>
	
	<form name="myForm" novalidate class="form-horizontal" role="form">
	    
	    <!-- TIPO DE CLIENTE -->
      <div class="form-group">
            <div class="row">
            <label for="tipo" class="col-lg-2 control-label">Tipo</label>
            <div class="col-lg-8">
              <div class="btn-group btn-group-justified btn-group-lg" role="group" data-toggle="buttons-checkbox" >			    
                  <checkbox type="button" data-ng-model="cliente.tipo.locador" class="btn btn-primary active">
                <i class="fa fa-check fa-inverse" data-ng-show="cliente.tipo.locador"></i>&nbsp; Locador
                  </checkbox>
                  
                  <checkbox type="button" data-ng-model="cliente.tipo.locatario" class="btn btn-primary active">
                <i class="fa fa-check fa-inverse" data-ng-show="cliente.tipo.locatario"></i>&nbsp; Locatario
                  </checkbox>
                  <checkbox type="button" data-ng-model="cliente.tipo.dono" class="btn btn-primary active">
                <i class="fa fa-check fa-inverse" data-ng-show="cliente.tipo.dono"></i>&nbsp; Dono
                  </checkbox>
                   <checkbox type="button" data-ng-model="cliente.tipo.fiador" class="btn btn-primary active">
                <i class="fa fa-check fa-inverse" data-ng-show="cliente.tipo.fiador"></i>&nbsp; Fiador
                  </checkbox>			    
              </div>
            </div>
            <div class="col-lg-2">
              <span class="label label-danger" data-ng-show="submitted && myForm.tipoCliente.$error.required">Obrigat&oacute;rio!</span>
            </div>
            </div>
      </div>
       
      <!-- CPF -->
      <div class="form-group">
        <div class="row">
        <label for="cpf" class="col-lg-2 control-label">CPF</label>
        <div class="col-lg-8">		
          <input type="text" id="cpf" name="cpf" data-ng-model="cliente.cpf" class="form-control" required="required" placeholder="CPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" />
        </div>
        <div class="col-lg-2">
          <span class="label label-danger" data-ng-show="submitted && myForm.cpf.$error.required">Obrigat&oacute;rio!</span>
          <span class="label label-danger" data-ng-show="submitted && myForm.$error.cpf">CPF Inv&aacute;lido!</span>
        </div>
        </div>
      </div>
      
      <!-- Nome -->
      <div class="form-group">
        <div class="row">
        <label for="nome" class="col-lg-2 control-label">Nome</label>	
        <div class="col-lg-8">			
          <input type="text" id="nome" name="nome" data-ng-model="cliente.nome" class="form-control" required="required" placeholder="Nome" />	
        </div>
        <div class="col-lg-2">
          <span class="label label-danger" data-ng-show="submitted && myForm.name.$error.required">Obrigat&oacute;rio!</span>
        </div>
        </div>
      </div>
      
      <!-- Email -->
      <div class="form-group">
            <div class="row">
            <label for="nome" class="col-lg-2 control-label">Email</label>	
            <div class="col-lg-8">		
              <div class="input-group input-group">
                <span class="input-group-addon">@</span>				
                <input type="email" id="email" name="email" data-ng-model="cliente.email" class="form-control" required="required" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
              </div>
            </div>
            <div class="col-lg-2">
              <span class="label label-danger" data-ng-show="submitted && myForm.email.$error.required">Obrigat&oacute;rio!</span>
              <span class="label label-danger" data-ng-show="submitted && myForm.$error.email">Email Inv&aacute;lido!</span>
            </div>
            </div>
      </div>
      
      <!-- Telefone -->
      <div class="form-group">
            <div class="row">
                <label for="telefones" class="col-lg-2 control-label">Telefones</label>
                <div class="col-lg-8 ">
                    <div class="panel panel-body panel-default">
                        <!-- Form Name -->
                        <legend>
                          <!-- Drop Down button -->
                          <div class="btn-group col-lg-offset-1" role="group" aria-label="...">
                            <div class="row">                        
                            <div class="col-lg-12">							
                              <div class="btn-group" role="group">	
                                <input type="hidden" id="tel" data-ng-model="telefone.tpTelefone" /> {{telefone.tpTelefone}}								
                              </div>
                              <div class="btn-group" role="group">
                                <button type="button" class="btn btn-warning btn-xs  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul id="telList" class="dropdown-menu" role="menu">
                                  <li><a href="#" data-value="residencial" data-ng-click="telefone.tpTelefone = 'Residencial'">Residencial</a></li>
                                  <li><a href="#" data-value="comercial" data-ng-click="telefone.tpTelefone = 'Comercial'">Comercial</a></li>
                                  <li><a href="#" data-value="adicional" data-ng-click="telefone.tpTelefone = 'Adicional'">Adicional</a></li>							
                                </ul>
                              </div>							
                            </div>						
                            </div>
                          </div>
                        </legend>
                        <div class="col-sm-6">		                            
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                                <input type="text" data-ng-model="telefone.nrTelefone" data-ng-keypress="" class="form-control" required="required" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" />                                
                            </div>
                        </div>
                        <!-- Text input-->
                        <div div class="col-sm-6 no-float">
                            <div class="panel panel-default ">
                              <div class="panel-heading">Lista de Telefones</div>
                              <div class="panel-body">
                                  <alert ng-repeat="telefone in cliente.telefones" type="warning" close="removeTelefone($index)">{{telefone.tpTelefone}} : {{telefone.nrTelefone}}</alert>
                                  <button data-ng-click="incluirTelefone()" class="btn btn-warning btn-xs" >
                                      <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                                  </button>
                              </div>
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                  <span class="label label-danger" data-ng-show="submitted && myForm.telTags.$error.required">Obrigat&oacute;rio!</span>
                  <span class="label label-danger" data-ng-show="submitted && myForm.$error.telTags">Telefones inv&aacute;lidos!</span>
                </div>
            </div>
      </div>
      
      <!-- Endereço -->
      <div class="form-group">
            <div class="row">	
            <label for="Endereços" class="col-lg-2 control-label">Endere&ccedil;os</label>
            <div class="col-lg-8 ">
                <div id="main" class="panel panel-body panel-default">
                    <!-- Form Name -->
                    <legend>
                      <!-- Drop Down button -->
                      <div class="btn-group col-lg-offset-1" role="group" aria-label="...">
                        <div class="row">                        
                        <div class="col-lg-12">							
                          <div class="btn-group" role="group">	
                            <input type="hidden" data-ng-model="endereco.tpEndereco" /> {{endereco.tpEndereco}}								
                          </div>
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-warning btn-xs  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul id="endList" class="dropdown-menu" role="menu">
                              <li><a href="#" data-value="residencial" data-ng-click="endereco.tpEndereco = 'Residencial'">Residencial</a></li>
                              <li><a href="#" data-value="comercial" data-ng-click="endereco.tpEndereco = 'Comercial'">Comercial</a></li>
                              <li><a href="#" data-value="adicional" data-ng-click="endereco.tpEndereco = 'Adicional'">Adicional</a></li>							
                            </ul>
                          </div>							
                        </div>						
                        </div>
                      </div>
                    </legend>
                
                    <div div class="col-sm-8">
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                          <label class="col-sm-2 control-label" for="textinput">Rua</label>
                          <div class="col-sm-10">
                            <input name="rua" type="text" placeholder="Rua" class="form-control" data-ng-model="endereco.rua">
                          </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label" for="textinput">N&uacute;mero</label>
                            <div class="col-sm-10">
                              <input name="numero" type="text" placeholder="N&uacute;mero" class="form-control" data-ng-model="endereco.numero">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label" for="textinput">Complemento</label>
                            <div class="col-sm-10">
                              <input id="complemento" name="complemento" type="text" placeholder="Complemento" class="form-control" data-ng-model="endereco.complemento">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label" for="textinput">Bairro</label>
                            <div class="col-sm-10">
                              <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control" data-ng-model="endereco.bairro">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">                
                            <label class="col-sm-2 control-label" for="textinput">Cidade</label>
                            <div class="col-sm-10">
                              <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control" data-ng-model="endereco.cidade">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label" for="textinput">Estado</label>
                            <div class="col-sm-10">
                              <input id="uf" name="uf" type="text" placeholder="Estado" class="form-control" data-ng-model="endereco.estado">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label" for="textinput">CEP</label>
                            <div class="col-sm-10">
                              <input id="cep" name="cep" type="text" placeholder="CEP" class="form-control" data-ng-model="endereco.cep">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-sm-2 control-label" for="textinput">Pa&iacute;s</label>
                            <div class="col-sm-10">
                              <input name="pais" type="text" placeholder="Pa&iacute;s" class="form-control" data-ng-model="endereco.pais">
                            </div>
                        </div>                
                    </div>
                
                    <!-- Text input-->
                    <div div class="col-sm-4 no-float">
                            <div class="panel panel-default ">
                              <div class="panel-heading">Lista de Endereços</div>
                              <div class="panel-body">                                  
                                  <alert ng-repeat="endereco in cliente.enderecos" type="warning" close="removeEndereco($index)">{{endereco.tpEndereco}}</alert>
                                  <button data-ng-click="incluirEndereco()" class="btn btn-warning btn-xs" >
                                      <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                                  </button>
                              </div>
                            </div>                    
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <span class="label label-danger" data-ng-show="submitted && myForm.form.$error.required">Obrigat&oacute;rio!</span>			
            </div>
            </div>
      </div>
      
      
      <div class="form-group">
            <div class="row">
            <div class="col-lg-offset-2 col-lg-8">			
              <button data-ng-disabled="progress.active()" data-ng-click="submit(myForm)" class="btn btn-success btn-lg col-lg-offset-2 col-lg-3" ><i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Finalizar</button>
              <button class="btn btn-danger btn-lg col-lg-offset-2 col-lg-3" ><i class="fa fa-times fa-fw fa-inverse"></i>&nbsp;Cancelar</button>
            </div>
            </div>
      </div>
	
	</form>

<!-- Custom scripts --> 
<script>

 // using jQuery Mask Plugin v1.7.5
 $("#cep").mask("00000-000");
 $("#cpf").mask("000.000.000-00");
 
  var maskBehavior = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
  },
  options = {onKeyPress: function(val, e, field, options) {
    field.mask(maskBehavior.apply({}, arguments), options);
      }
  };
  $("#tel").mask(maskBehavior, options);
   
  function show() {
	var fields = $( "#form" ).serializeArray();
	var result = "";
	jQuery.each( fields, function( i, field ) {
		result += field.value + " " ;
	});
	alert(result);
  }
  
  $(function () {
   	$('#telTags').tagator({
   		height: '34',
   		width:'110',
   		placeholder:"Digite aqui...",
   		useDimmer: true,	
   		dropdown:[{
			'Celular':'Celular',
			'Residencial':'Residencial',
			'Comercial':'Comercial'
		}]
			
   	});   	
	
  });
</script>
