	<h1 class="sub-header">{{entidade}}</h1>
	
	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Enviando&hellip;</div>
	
	<form name="myForm" novalidate class="form-horizontal" role="form">
	    <div class="row">
          <div class="col-xs-8 col-md-8">
                <!-- RELAÇÃO DO EVENTO -->
                <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Propriet&aacute;rios</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="row">
                          <div class="col-xs-5 col-md-5">
                              <div class="input-group" >
                                 <div class="input-group-btn">
                                    <input type="text" class="form-control text-capitalize" data-ng-model="proprietario.tipo" required="required" readonly />                                    
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul id="telList" class="dropdown-menu" role="menu">
                                      <li><a href="#" data-value="residencial" data-ng-click="proprietario.tipo = 'principal'">Principal</a></li>
                                      <li><a href="#" data-value="comercial" data-ng-click="proprietario.tipo = 'adicional'">Adicional</a></li>					
                                    </ul>
                                 </div>
                              </div>
                          </div>
                          <div class="col-xs-offset-1 col-xs-6 col-md-offset-1 col-md-6 pull-right" role="group">                              
                              <div class="input-group" role="group">	
                                <input type="text" class="form-control" data-ng-model="proprietario.identificador" required="required" readonly />
                                <div class="input-group-btn" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul id="propList" class="dropdown-menu" role="menu">
                                      <li><a href="#" data-ng-repeat="item in itemsList" data-value="teste" data-ng-click="proprietario.identificador = item.cpf">{{item.cpf}}</a></li>
                                    </ul>
                                    <button data-ng-click="incluirProprietario()" class="btn btn-info" >
                                      <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                                    </button>
                                </div>
                              </div>
                          </div>
                        </div>
                        <br/>
                        <div class="row">
                          <div class="col-xs-12 col-md-12"> 
                            <div class="panel panel-default">
                                <div class="panel-heading">Lista de Propriet&aacute;rios</div>
                                <div class="panel-body">
                                    <alert ng-repeat="prop in novoimovel.proprietarios" type="info" close="removeProprietario($index)" class="text-capitalize">{{prop.tipo}} : {{prop.identificador}}</alert>                                      
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novoimovel.tprelac.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
            
              <!-- TIPO DE IMOVEL -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Tipo de Im&oacute;vel</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="btn-group">
                            <label data-ng-repeat="tipo in tipoImovel" class="btn btn-primary text-capitalize" ng-model="novoimovel.tipoImovel" btn-radio="'{{tipo}}'">{{tipo}}</label>                    
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novoimovel.tipo.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
              
              <!-- SITUAÇÃO DO IMOVEL -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Situa&ccedil;&atilde;o</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="btn-group">
                            <label data-ng-repeat="tipoSituacacao in tiposSituacao" class="btn btn-primary text-capitalize" ng-model="novoimovel.tipoSituacacao" btn-radio="'{{tipoSituacacao}}'">{{tipoSituacacao}}</label>                    
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novoimovel.tipoSituacacao.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
              
              <!-- TITULO DO IMOVEL -->
              <div class="form-group">
                <div class="row">
                <label for="nome" class="col-xs-2 col-md-2 control-label">T&iacute;tulo</label>	
                <div class="col-xs-9 col-md-9">			
                  <input type="text" id="titulo" name="titulo" data-ng-model="novoimovel.titulo" class="form-control" required="required" placeholder="Titulo" />	
                </div>
                <div class="col-xs-1 col-md-1">
                  <span class="label label-danger" data-ng-show="submitted && myForm.novoimovel.titulo.$error.required">Obrigat&oacute;rio!</span>
                </div>
                </div>
              </div>      
              
              <!-- DESCRICAO DO IMOVEL -->
              <div class="form-group">
                <div class="row">
                  <label for="nome" class="col-xs-2 col-md-2 control-label">Descri&ccedil;&atilde;o</label>	
                  <div class="col-xs-9 col-md-9">
                    <textarea id="descricao" name="descricao" format data-ng-model="novoimovel.descricao" class="form-control" required="required" placeholder="Descrição" rows="3"></textarea>
                  </div>
                  <div class="col-xs-1 col-md-1">
                    <span class="label label-danger" data-ng-show="submitted && myForm.novoimovel.descricao.$error.required">Obrigat&oacute;rio!</span>
                  </div>
                </div>
              </div>
          </div>
          <!-- Endereço -->
          <div class="form-group">
            <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div id="main" class="panel panel-body panel-default">
                    <!-- Form Name -->
                    <legend>
                      <!-- Drop Down button -->
                      <div class="btn-group col-xs-offset-1 col-md-offset-1" role="group" aria-label="...">
                        <div class="row">                        
                        <div class="col-xs-10 col-md-10">							
                          	<label for="Endereços" class="control-label">Endere&ccedil;o</label>		
                        </div>
                        <div class="col-xs-2 col-md-2">
                            <span class="label label-danger" data-ng-show="submitted && myForm.form.$error.required">Obrigat&oacute;rio!</span>
                        </div>
                        </div>
                      </div>
                    </legend>
                
                    <div div class="col-xs-10 col-md-10">
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                          <label class="col-xs-2 col-md-2 control-label" for="textinput">Rua</label>
                          <div class="col-xs-10 col-md-10">
                            <input name="rua" type="text" placeholder="Rua" class="form-control" data-ng-model="novoimovel.endereco.rua">
                          </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">N&uacute;mero</label>
                            <div class="col-xs-10 col-md-10">
                              <input name="numero" type="text" placeholder="N&uacute;mero" class="form-control" data-ng-model="novoimovel.endereco.numero">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Complemento</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="complemento" name="complemento" type="text" placeholder="Complemento" class="form-control" data-ng-model="novoimovel.endereco.complemento">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Bairro</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control" data-ng-model="novoimovel.endereco.bairro">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">                
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Cidade</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control" data-ng-model="novoimovel.endereco.cidade">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Estado</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="uf" name="uf" type="text" placeholder="Estado" class="form-control" data-ng-model="novoimovel.endereco.estado">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">CEP</label>
                            <div class="col-xs-10 col-md-10">
                              <input id="cep" name="cep" type="text" placeholder="CEP" class="form-control" data-ng-model="novoimovel.endereco.cep">
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group has-success has-feedback">
                            <label class="col-xs-2 col-md-2 control-label" for="textinput">Pa&iacute;s</label>
                            <div class="col-xs-10 col-md-10">
                              <input name="pais" type="text" placeholder="Pa&iacute;s" class="form-control" data-ng-model="novoimovel.endereco.pais">
                            </div>
                        </div>                
                    </div>                    
                </div>
            </div>
            </div>
         </div>
      </div>
      
      <div class="form-group">
            <div class="row">
            <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-8">			
              <button data-ng-disabled="progress.active()" data-ng-click="submit(myForm)" class="btn btn-success btn-lg col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3" ><i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Finalizar</button>
              <button class="btn btn-danger btn-lg col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3" ><i class="fa fa-times fa-fw fa-inverse"></i>&nbsp;Cancelar</button>
            </div>
            </div>
      </div>
	
	</form>
