	<h1 class="sub-header">{{entidade}}</h1>
	
	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	<div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Enviando&hellip;</div>
	
	<form name="myForm" novalidate class="form-horizontal" role="form">
	    <div class="row">
          <div class="col-xs-8 col-md-8">
              <!-- TIPO DE CONTRATO -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Tipo de Contrato</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="btn-group btn-group-justified">
                            <label data-ng-repeat="tpcontrato in tiposContrato" class="btn btn-primary text-capitalize" ng-model="novocontrato.tipoContrato" btn-radio="'{{tpcontrato}}'">{{tpcontrato}}</label>                    
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novocontrato.tipoContrato.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
              <!-- RELAÇÕES DO CONTRATO -->
              <!-- IMÓVEL -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Imóvel</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="row">                          
                          <div class="col-xs-6 col-md-6" role="group">                              
                              <div class="input-group" role="group">	
                                <input type="text" class="form-control" data-ng-model="imovel.id" required="required" readonly />
                                <div class="input-group-btn" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul id="imovelList" class="dropdown-menu" role="menu">
                                      <li data-ng-repeat="imvl in imoveisList"><a href="#"  data-value="" data-ng-click="imovel.id = imvl.id;  imovel.proprietarios =  imvl.proprietarios" >{{imvl.id}}: {{imvl.proprietarios[0].identificador}}</a></li>                                     
                                    </ul>
                                </div>
                              </div>
                          </div>
                          
                          <!-- LOCADORES -->
                          <div class="col-xs-6 col-md-6"> 
                            <div class="panel panel-default">
                                <div class="panel-heading">Lista de Locadores</div>
                                <div class="panel-body">
                                    <alert ng-repeat="locad in imovel.proprietarios" type="info">{{locad.tipo}} : {{locad.identificador}}</alert>                                      
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novocontrato.proprietarios.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
              <!-- LOCATÁRIOS -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Locatários</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="row">                          
                          <div class="col-xs-6 col-md-6" role="group">                              
                              <div class="input-group" role="group">	
                                <input type="text" class="form-control" data-ng-model="locatario.cpf" required="required" readonly />
                                <div class="input-group-btn" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul id="locList" class="dropdown-menu" role="menu">
                                      <li  data-ng-repeat="itemLocatario in clientesList | filter:filter"  data-ng-click="locatario.cpf = itemLocatario.cpf" ><a href="#"data-value="teste">{{itemLocatario.cpf}}</a></li>                                      
                                    </ul>
                                    <button data-ng-click="incluirLocatario()" class="btn btn-info" >
                                      <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                                    </button>
                                </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-md-6"> 
                            <div class="panel panel-default">
                                <div class="panel-heading">Lista de Locatários</div>
                                <div class="panel-body">
                                      <alert ng-repeat="locat in novocontrato.locatarios" type="info" close="removeLocatario($index)">{{$index}} : {{locat.cpf}}</alert>                                      
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novocontrato.locatarios.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
              <!-- FIADORES -->
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Fiadores</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="row">                          
                          <div class="col-xs-6 col-md-6" role="group">                              
                              <div class="input-group" role="group">
                                <input type="text" class="form-control" data-ng-model="fiador.cpf" required="required" readonly />
                                <div class="input-group-btn" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul id="fiaList" class="dropdown-menu" role="menu">
                                     <li><a href="#"  data-ng-repeat="itemFiador in clientesList | filter:filter"  data-value="teste" data-ng-click="fiador.cpf = itemFiador.cpf">{{itemFiador.cpf}}</a></li>                                                                          
                                    </ul>
                                    <button data-ng-click="incluirFiador()" class="btn btn-info" >
                                      <i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Incluir
                                    </button>
                                </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-md-6"> 
                            <div class="panel panel-default">
                                <div class="panel-heading">Lista de Fiadores</div>
                                <div class="panel-body">
                                      <alert ng-repeat="fia in novocontrato.fiadores" type="info" close="removeFiador($index)">{{$index}} : {{fia.cpf}}</alert>                                      
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novocontrato.fiadores.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>
                
              <!-- SITUAÇÃO DO EVENTO 
              <div class="form-group">
                    <div class="row">
                    <label for="tipo" class="col-xs-2 col-md-2 control-label">Situa&ccedil;&atilde;o</label>
                    <div class="col-xs-9 col-md-9">
                        <div class="btn-group btn-group-justified" >
                            <label data-ng-repeat="tpsituac in tiposSituacao" class="btn btn-primary text-capitalize" ng-model="novocontrato.situacao" btn-radio="'{{tpsituac}}'">{{tpsituac}}</label>                    
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                        <span class="label label-danger" data-ng-show="submitted && myForm.novocontrato.tpsituac.$error.required">Obrigat&oacute;rio!</span>
                    </div>
                    </div>
              </div>-->
              
          </div>         
          <div class="col-xs-4 col-md-4">    
                   <!-- DATA DE VENCIMENTO DO EVENTO -->
                  <div class="form-group">                
                      <div><label for="nome" class="control-label">Data de Vencimento</label></div>                  
                      <div style="display:inline-block; min-height:290px;">
                           <datepicker ng-model="picker" show-weeks="false" class="well well-sm"></datepicker>                       
                      </div>
                      <span class="label label-danger" data-ng-show="submitted && myForm.novocontrato.dataVencimento.$error.required">Obrigat&oacute;rio!</span>
                  </div>
          </div>
      </div>
      <div class="form-group">
            <div class="row">
            <div class="col-xs-offset-2 col-md-offset-2 col-xs-10 col-md-8">			
              <button data-ng-disabled="progress.active()" data-ng-click="submit(myForm)" class="btn btn-success btn-lg col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3" ><i class="fa fa-upload fa-fw fa-inverse"></i>&nbsp;Finalizar</button>
              <button class="btn btn-danger btn-lg col-xs-offset-2 col-md-offset-2 col-xs-3 col-md-3" ><i class="fa fa-times fa-fw fa-inverse"></i>&nbsp;Cancelar</button>
            </div>
            </div>
      </div>
	
	</form>
